In [ ]:
a = 3
b = 4.5

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

#Built in data structures in Python

#*Lists

In [ ]:
l1 = [1,2,3,3.5,10,16,"Hello world",[12.1,13.4,14.2,15.1]]

In [ ]:
l1[4]

10

In [ ]:
l1[0:5]

[1, 2, 3, 3.5, 10]

In [ ]:
l1[7][2]

14.2

List Comprehension

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
l1 = [12,32,23,54,75,46,77,88,39,10,11,12,13,14,1335,444515]

In [ ]:
# We have a task here, we want to populte another
# list l2 from l1 such that l2 only contains the
# odd elements of l1
l2=[]
for i in l1:
  if i%2!=0:
    l2.append(i)
print(l2)

[23, 75, 77, 39, 11, 13, 1335, 444515]

In [ ]:
#We can do the same task using list comprehension

l3 = []
l3 = [i for i in l1 if i%2!=0]
l3

[23, 75, 77, 39, 11, 13, 1335, 444515]

#*Tuples

In [ ]:
t1 = (1,2,3,4,5)

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
l1

[12, 32, 23, 54, 75, 46, 77, 88, 39, 10, 11, 12, 13, 14, 1335, 444515]

In [ ]:
l1[0]=100
l1

[100, 32, 23, 54, 75, 46, 77, 88, 39, 10, 11, 12, 13, 14, 1335, 444515]

In [ ]:
t1(0)=100

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-37-26319b32f7af>, line 1)

In [ ]:
#We cant directly change a value inside a tuple
#But there is a workaround...lets convert this
#tuple temporarily into a list

t1 = list(t1)
print(t1)
t1[0]= 100
t1 = tuple(t1)
print(t1)

[1, 2, 3, 4, 5]
(100, 2, 3, 4, 5)

#*Sets

In [ ]:
l4 = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [ ]:
s1 = {1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3}
s1

{1, 2, 3}

#*Dictionaries

In [ ]:
dic1 = {'SNo':1,
        'Name':'M Zohaib',
        'CGPA':[3.9,4,4,3.8]}

In [ ]:
dic1["SNo"]

1

In [ ]:
dic1["Name"]

'M Zohaib'

In [ ]:
dic1["CGPA"][3]

3.8

In [ ]:
l1 = [{"key1":"This is dic1 key 1",
  "key2":"This is dic2 key 2"},


 {"Key1":"This is dic2 key1",
  "key2":"This is dic2 key2"}]

In [ ]:
l1[0]["key1"]

'This is dic1 key 1'

#Functions

In [ ]:
def myFunc():
  print("Hello World")

In [ ]:
myFunc()

Hello World

In [ ]:
def mySum(a1,a2):
  print(f"The sum is:{a1+a2}")

In [ ]:
mySum(3,2)

The sum is:5

In [ ]:
def myProd(a1,a2):
  return a1*a2

In [ ]:
print(myProd(2,3))

6

#Lambda functions

In [ ]:
x = lambda a1,a2 : a1*a2
print(x(5,6))

30